@font-face {
    font-family: 'NokiaFC22';
    src: url('/assets/nokiafc22.ttf') format('truetype');
}

body {
    overflow: hidden;
    /* disable scrolling on mobile */
    margin: 0;
    padding: 0;
    background-color: #798347;
    color: #fff;
    font-family: 'NokiaFC22', 'Roboto', sans-serif;

}


#win-announcement {
    /* centered */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* size is 25% the screen width and height */
    width: 25%;
    height: 25%;

    /* hidden */
    /* display: none; */
}

.ui {
    z-index: 1;
    position: absolute;

    /* border */
    border: 1px solid #fff;
    border-radius: 5px;

    /* drop shadow */
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

    /* semi opaque */
    background-color: rgba(0, 0, 0, 0.5);
}

/* little bit of margin for sub elements */
.ui>* {
    margin: 5px;
}

#player-list {
    /* bottom left corner */
    bottom: 2%;
    left: 2%;
    width: auto;
    height: auto;
    margin: 5px;
}

#ping-div {
    /* top left corner */
    top: 2%;
    right: 2%;
    width: auto;
    height: auto;
}

#volume-slider-div {
    top: 2%;
    left: 2%;
    width: auto;
    height: auto;
}

#name-input-div {
    top: 17%;
    left: 2%;
    width: auto;
    height: auto;
}


#server-full {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: rgba(255, 0, 0, 0.7);
    color: white;
    font-size: 24px;
    border-radius: 10px;
    z-index: 9999;
    /* Make sure it's above other content */
    display: none;
    /* Start off as hidden */
    text-align: center;
}


/* put the movement buttons in the bottom right corner */
#movement-buttons {
    bottom: 2%;
    right: 2%;
    width: 10%;
    height: 10%;

    /* make text unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}

#main-canvas {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    image-rendering: optimizeSpeed;
    /* Older versions of FF*/
    image-rendering: -moz-crisp-edges;
    /* FF 6.0+*/
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non standard naming)*/
    image-rendering: -o-crisp-edges;
    /* OS X & Windows Opera (12.02+)*/
    image-rendering: crisp-edges;
    /* Possible future browsers.*/
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non standard naming)*/
}

#game-state-board {
    position: absolute;
    z-index: 1;

    /* centered left to right, but at top of screen */
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0);

    /* size 25% screen width, 10% screen height */
    width: 25%;
    height: 10%;
}